*{
   margin: 0%;
   padding: 0%;
   
}

header{

 display: flex;
 justify-content: space-between;  
 align-items: center;
 margin: 10px;
    
}

.nav-links a {
text-decoration: none;
color: black; 
justify-content: flex-end;
flex-direction: row;
margin: 10px;

}

.logo {
    text-decoration: none;
    color: black;
    font-weight: 500px;    
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 12px;
   
}  

.a{
    font-weight: lighter;
    opacity: 0.6;
    height: 100%;
    position: relative;
    right: 5%;
    
}
main{

    background-color: #D3D3D3;
    background-repeat: no-repeat;
    height: 550px;
    margin: 10px 0px;
    padding: 32px 24px;
    
  
}

.container{
     display: inline-flex;
     align-items: center;
     margin: 10px;
     
    
}


.container h1{

font-size: 50px;
color: #555555;
position: relative;
left: 150px;
bottom: 100px;
align-items: center;


}

.container h2{
    position: relative;
    top: 30px;
    bottom: 300px;
    right: 218px;
    align-items: center;
    line-height: 1.5;  
    display: block;
    
    
}



.button {
    height: 39px;
    width: 25%;
    background-color: #383838	; 
    text-decoration: none;
    color: #fff;
    position: fixed;
    left: 870px;
    top: 460px;
    text-align: center;
    padding: 8px 7px;

}

@media screen and (max-width: 1300px) {
    .container{
        display: inline-flex;
        align-items: center;
        margin: 10px;
 
   }


   main{

    background-color: #D3D3D3;
    background-repeat: no-repeat;
    height: 550px;
    margin: 10px 0px;
    padding: 32px 24px;
    
  
}


   .container h1{
    background-color: aliceblue;
    font-size: 30px;
    color: #555555;
    position: absolute;
    display: flex;
    display: inline-block;
    position: absolute;
    left: 700px;
    bottom: 500px;
    right: ;
    
    
    
    }
    
    .container h2{
        background-color: aqua;
        position: relative;
        top: 300px;
        bottom: 300px;
        right: 0px;
        align-items: center;
  
        
        
        
        
    }
    
      
    
}