*{
   margin: 0%;
   padding: 0%;
   
}


header{

 display: flex;
 justify-content: space-between;  
align-items: center;
    
}

.nav-links a {
text-decoration: none;
color: black; 
justify-content: flex-end;
flex-direction:row;
margin: 5px;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: 500px;    
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 12px;
   
}  

.a{
    font-weight: lighter;
    opacity: 0.6;
    height: 100%;
    position: relative;
    right: 5%;
    
}

main{
    background-color: gray;
    font-size: 12px;
}

