*{
   margin: 0%;
   padding: 0%;
   
}

header{

 display: flex;
 justify-content: space-between;  
 align-items: center;
 margin: 10px;
    
}

.nav-links a {
text-decoration: none;
color: black; 
justify-content: flex-end;
flex-direction: row;
margin: 10px;

}

.logo {
    text-decoration: none;
    color: black;
    font-weight: 500px;    
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 12px;
   
}  

.a{
    font-weight: lighter;
    opacity: 0.6;
    height: 100%;
    position: relative;
    right: 5%;
    
}
main{

    background-color: #D3D3D3;
    background-repeat: no-repeat;
    height: 550px;
    margin: 10px 0px;
    padding: 32px 24px;
    
  
}

.container{
     display: inline-flex;
     align-items: center;
     margin: 10px;
       
}

.container img{

    position: relative;
    bottom: 15px;
}


.container h1{
font-size: 50px;
color: #555555;
position: relative;
left: 71px;
bottom: 150px;
}


.container h2{
    position: absolute;
    top: 320px;
    line-height: 1.5;
    right: 250px;
    width: 25%;
    left: 861px;  
}



.favorite-styled{
    height: 40px;
    width: 26%;
    background-color: #383838; 
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 840px;
    bottom: 215px;
    padding: 2.0em;
    line-height: 0%;
}


.content img{
    position: absolute;
    top: 700px;
   
   
}

.content h1{
    position: relative;
    top: 400px;
    font-size: 42px;
    font-weight: bolder;
    line-height: 1.5;
    padding: 32px;
    color: #555555;
    right: 20px;
}

.content h2{
    position: relative;
    top: 358px;
    padding: 24px;
    font-size: 18px;
    font-weight: lighter;
    color: #555555;
    display: block;
    width: 50%;
    line-height: 1.5;
    right: 12px;
}

.content h3{
    position: relative;
    color: #383838;
    top: 350px;
    padding: 24px;
    font-size: 18px;
    font-weight: lighter;
    right: 10px;
}

.sub-section img{
    position: absolute;
    left: 860px;
    top: 700px;
   
}
.sub-section h1{
    position: absolute;
    top: 740px;
    right: 210px;
    font-weight: lighter;
    color: #000;

}
.sub-section h2{
    position: absolute;
    top: 787px;
    right: 70px;
    font-weight: lighter;
    color: #000;
    
}
.sub-section a{
    position: absolute;
    top: 830px;
    right: 340px;
    font-weight: lighter;
    color: #000fff;
    text-decoration: none;

}

.sub-sectiona {
    position: absolute;
    left: 860px;
    top: 900px;
}
.sub-sectiona h1{

    position: absolute;
    top: 21px;
    right: 10px;
    font-weight: lighter;
    color: #000;

}
.sub-sectiona h2{
    position: relative;
    bottom: 95px;
    left: 165px;
    font-weight: lighter;
    color: #000;
}

.sub-sectiona a{
    position: relative;
    left: 168px;
    bottom: 78px;
    color: #000fff;
    text-decoration: none;

}



.sub-sectionb{
    position: relative;
    background-color: #D3D3D3;
   
    
    
}
.sub-sectionb img{
   position: absolute;
   left: 836px;
   top: 50px;

}


.sub-sectionb h1{
    position: absolute;
    top: 65px;
    left: 999px;
    bottom: 10px;
    font-weight: lighter;

}

.sub-sectionb h2{
    position: absolute;
    right: 72px;
    top: 110px;
    font-weight: lighter;
}
.sub-sectionb a{
    position: absolute;
    left: 1004px;
    top: 180px;
    text-decoration: none;
    color: #000fff;
}